/* === === === === === */
/* BREAKPOINTS */
/* === === === === === */
$desktop: 1650;
$desktop-middle: 1599;
$desktop-small: 1439;
$laptop: 1365;
$laptop-middle: 1279;
$laptop-small: 1199;
$tablet: 992;
$phablet: 767;
$phone: 575;
$phone-medium: 414;
$phone-small: 374;
$phone-oldest: 359;