@import "styles/helpers/vars";
@import "styles/helpers/mixins";

.top {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.middle {
  margin-top: 104px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 24px;
}

.bottom {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 24px;
}