@import "styles/helpers/vars";
@import "styles/helpers/mixins";

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 24px;
}

.itemWrapper {
  --color: #2C2C2C;
  transform: translateZ(0);
  filter: drop-shadow(.5px 0px 0px var(--color))
          drop-shadow(-.5px 0px 0px var(--color))
          drop-shadow(0px .5px 0px var(--color))
          drop-shadow(0px -.5px 0px var(--color))
          drop-shadow(.5px .5px 0px var(--color))
          drop-shadow(-.5px -.5px 0px var(--color))
          drop-shadow(-.5px .5px 0px var(--color))
          drop-shadow(.5px -.5px 0px var(--color));
  transition: var(--transition);
  &:hover {
    --color: var(--brand-cypher);
  }
}

.item {
  position: relative;
  background-color: #111111;
  padding: 28px 32px 30px;
  clip-path: polygon(0 0, calc(100% - 106px) 0, calc(100% - 100px) 6px, calc(100% - 56px) 6px, calc(100% - 50px) 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 94px 100%, 88px calc(100% - 6px), 56px calc(100% - 6px), 50px 100%, 0 100%);
  &:hover {
    [fill]:not([fill="none"]) {
      fill: var(--brand-cypher)
    }
  }
  span {
    display: block;
    margin-top: 12px;
    font-family: var(--font-geistmono);
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 300;
    color: var(--brand-cypher);
  }
  svg {
    position: absolute;
    top: 0;
    right: 0;
  }
  [fill]:not([fill="none"]) {
    transition: var(--transition);
  }
}